<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>添加设备</title>
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    
    
    
    <link href="../../css/bootstrap.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
<style>


</style>
</head>
<body class="tjsb">
<div  class="tjsb">
	<header class="nav">
		<a></a>
		<a href="javascript:history.back(-1)"><img src="../../img/icon/LeftArrow@2x.png" /></a>		
	    <h1 class="title">添加设备</h1>
	</header>
<div class="pay">
	<img src="../../img/img_done@2x(2).png" />
	<h1 >添加失败</h1>
	<p>未找到任何设备，请确保空气净化器和手机在同一个WiFi网络，并且已激活设备连接状态！</p>
	<div onclick="javascript:window.location.href='Tjsbyi.html'"><a>重试</a></div>
</div>
	
</div>


</body>
</html>