<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>我的设备</title>
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    
    
    <link href="../../css/mui.css" rel="stylesheet"/>
    <link href="../../css/bootstrap.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
<style>


</style>
</head>
<body>
<div  class="MyShebei">
	<header class="nav ">
		<a></a>
		<a href="javascript:history.back(-1)"><img src="../../img/icon/LeftArrow@2x.png" /></a>		
	    <h1 class="title">我的设备</h1>
	</header>
	<div class="MyShebei_list">
		<h1>当前绑定<span>2</span>套</h1>
		<ul id="OA_task_2" class="mui-table-view">	
			<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-yellow">重命名</a>
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle">
					<div class="mui-table-cell">
						<img src="../../img/icon/hulian@2x.png" />
						<div class="MyShebei_list_info">
							<p>
								魅豚智能空气净化器VIC01
							</p>
							<ul>
								<li><span>设备编号：</span><p>JUJ9090E</p></li>
								<li><img src="../../img/icon/wifi@2x.png"/><span class="lianjie">设备已连接</span></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
		<ul/>
	</div>
	<div class="jiashebei">
		<img src="../../img/Activity/tiajia@2x.png" />
		<p>添加设备</p>
	</div>
	
</div>


</body>
</html>