<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>密码管理</title>
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    
    <link href="../../css/bootstrap.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
<style>
body{
	background-color: white;
}
</style>
</head>
<body>
<div id="forgotPassword-main" v-cloak  class="SmartCommunity_ForgotPassword body_bottom_50">
	<header class="nav">
		<a></a>
		<a href="javascript:history.back(-1)"><img src="../../img/icon/LeftArrow@2x.png" /></a>		
	    <h1 class="title">{{t == 1?'修改登录密码':t==2?'设置支付密码':'找回密码'}}</h1>	    
	</header>
	<div>
		<div class="phone">
			<img src="../../img/icon/register_icon_phone@2x.png" />
			<input type="number" @input="inputMaxLenth()" v-model="mobile" placeholder="请输入注册时手机号码	">
		</div>
		<div class="mima clearfix">
			<li class="phones">
				<img src="../../img/icon/register_icon_password@2x(1).png" />
				<input type="text" v-model="code" placeholder="验证码">
			</li>			
			<li class="huoquyanzhengma" @click="sendCode">
			    
				{{time === 60 ? '获取验证码' : time+'s'}}
			</li>
		</div>
		
		
		<div class="mimazhuc clearfix">
			<li class="phones">
				<img src="../../img/icon/register_icon_password@2x.png" />
				<input type="password" class="secret" maxlength="{{t==2?6:18}}"  v-model="password" placeholder="{{t==2?'请输入6位数支付密码':'6-18位数字、字母或字符组合'}}">
			</li>			
			<li class="eyes">
			    <img class="secreteyes" src="../../img/icon/app_icon_openeye1@2x.png" alt=""> 
			    <img class="secreteyesk none" src="../../img/icon/app_icon_openeye@2x.png" alt="">
			</li>
		</div>
		<div class="mimazhuc clearfix">
			<li class="phones">
				<img src="../../img/icon/register_icon_password@2x.png" />
				<input type="password" class="secret" v-model="confirmPwd" placeholder="请再次输入密码">
			</li>			
			<li class="eyes">
			    <img class="secreteyes" src="../../img/icon/app_icon_openeye1@2x.png" alt=""> 
			    <img class="secreteyesk none" src="../../img/icon/app_icon_openeye@2x.png" alt="">
			</li>
		</div>
	</div>
	<button class="loto_go" style="margin-top: 40px;" @click="forgotFun">确认</button>
	<!-- <div class="bottom_fixd">注册即表示同意 <span style="color: rgba(47, 130, 255, 1);">服务条款和隐私条款<span></div> -->

</div>
<script src="../../js/mui.min.js"></script>
<script src="../../js/vue.min.js"></script>
<script src="../../js/base.js"></script>
<script src="../../js/loginTo/forgotPassword.js"></script>
<script>
		var a = 0;
$('.eyes').click(function(){
	a += 1;
	if(a%2 == 0){
		$('.secreteyesk').addClass('none');
		$('.secreteyes').removeClass('none');
		$('.secret').prop('type','password');
	}else if(a%2 != 0){
		$('.secreteyes').addClass('none');
		$('.secreteyesk').removeClass('none');
		$('.secret').prop('type','text');
	}
})
</script>
</body>
</html>