<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>积分明细</title>
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    
    <link href="../../css/bootstrap.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
<style type="text/css">

</style>
</head>
<body>
<div class="jifenmingxi">
	<header class="nav">
		<a></a>
		<a href="javascript:history.back(-1)"><img src="../../img/icon/LeftArrow@2x.png" /></a>		
	    <h1 class="title">积分明细</h1>		    
	</header>
	<div class="list">
		<div>
			<input type="date" name="bday">			
		</div>
		<div>
			<p>积分</p>
			<p><span>收益：600</span><span>支出：300</span></p>
		</div>
	</div>
	<div class="alert_info">
		<div class="alert_info_column">			
			<div>
				<p>收益</p>
				<div>
					<p>生产推广收益</p>
					<p>2019-04-19 13:56</p>
				</div>
			</div>
			<p class="alert_info_jia">+900</p>
		</div>
		<div class="alert_info_column">			
			<div>
				<p>转增</p>
				<div>
					<p>生产推广收益</p>
					<p>2019-04-19 13:56</p>
				</div>
			</div>
			<p class="alert_info_jian">-900</p>
		</div>
		<div class="alert_info_column">			
			<div>
				<p>收益</p>
				<div>
					<p>生产推广收益</p>
					<p>2019-04-19 13:56</p>
				</div>
			</div>
			<p class="alert_info_jia">+900</p>
		</div>
		<div class="alert_info_column">			
			<div>
				<p>转增</p>
				<div>
					<p>生产推广收益</p>
					<p>2019-04-19 13:56</p>
				</div>
			</div>
			<p class="alert_info_jian">-900</p>
		</div>
		<div class="alert_info_column">			
			<div>
				<p>收益</p>
				<div>
					<p>生产推广收益</p>
					<p>2019-04-19 13:56</p>
				</div>
			</div>
			<p class="alert_info_jia">+900</p>
		</div>
		<div class="alert_info_column">			
			<div>
				<p>转增</p>
				<div>
					<p>生产推广收益</p>
					<p>2019-04-19 13:56</p>
				</div>
			</div>
			<p class="alert_info_jian">-900</p>
		</div>
	</div>
</div>
</body>

<script>
//一、点击Tab切换时改变头部和自身的样式
function randomSwitchBtn (tag) {
	$(tag).addClass("active");
	$(tag).siblings().removeClass("active");
};	
</script>
</html>