<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>选择银行卡</title>
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    
    <link href="../../css/bootstrap.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
<style type="text/css">

</style>
</head>
<body>
<div class="MyQianbao_tixian xzyhk">
	<header class="nav clearfix">
		<a href=""><img src="../../img/icon/jiajia.png" /></a>
		<a href="javascript:history.back(-1)"><img src="../../img/icon/LeftArrow@2x.png" /></a>			
	    <h1 class="title">选择银行卡</h1>	    
	</header>
	<div class="zhihang" onclick="SelectBankCard()">		
		<li>
			<img src="../../img/icon/yinhangka@2x.png" />
			<div>
				<h3>中国邮政深圳支行</h3>
				<p>6221 5026 0000 6577</p>
			</div>
			
		</li>
		<div class="xzyhk_gou"><img src="../../img/icon/Shape@2x.png" /></div>
	</div>
	<div class="zhihang">		
		<li>
			<img src="../../img/icon/yinhangka@2x.png" />
			<div>
				<h3>中国邮政深圳支行</h3>
				<p>6221 5026 0000 6577</p>
			</div>			
		</li>
		<div class="xzyhk_gou"><img src="../../img/icon/Shape@2x.png" /></div>
	</div>
	
</div>
</body>

<script>
	
</script>
</html>